/tablaMultiplicar/j-tablaMultiplicar/target/
/edadUsuario/j-edadUsuario/target/
/notaAlumno/j-notaAlumno/target/
/calculadora/j-calculadora/target/
/MantenimientoColaborador/target/
/farmaciaJutiapa/target/
/Totito/target/
